@model List<Empleado>

<h1>Vista index de empleados</h1>

@if (Model != null)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Apellido</th>
                <th>Oficio</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Empleado emp in Model)
            {
                <tr>
                    <td>@emp.Apellido</td>
                    <td>@emp.Oficio</td>
                    <td>
                        <a asp-controller="Empleados" asp-action="Details" asp-route-idEmpleado="@emp.IdEmpleado" class="btn btn-info">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}














